@import "{{ site.theme }}";

.page-header { background-color: gray; background-image: none; padding: 1rem 2rem;}
h3 {
    color: #000 !important;
    text-align: center;
    background: lightgray;
    padding: 10px;
}
.main-content ul li { list-style: none; line-height: 2em; }
